* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(262, 83%, 58%);
  --headline: hsl(221, 39%, 11%);
  --paragraph: hsl(210, 9%, 31%);

  --brand-beige: hsl(217, 19%, 27%);
  --brand-light: hsl(220, 14%, 96%);
  --bg-light: hsl(220, 14%, 96%);
  --brand-dark: hsl(263, 67%, 35%);

  font-size: 62.5%; /* 1rem = 10px */

  --nav-height: 7.2rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;

  background-color: white;
}

.container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container .card {
  padding: 2.6rem;
  width: 30rem;

  margin: 1.6rem;
  overflow: hidden;
  border-radius: 2rem;
  transition: 0.5s;
  text-align: center;
  box-shadow: 0.2rem 0.5rem 0.7rem hsl(0, 0%, 60%);

  background: rgba(17, 24, 39, 0.6);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.container .card img {
  transition: 0.5s;
}

.container .card h3 {
  font-size: 2rem;
}

.container .card .content {
  padding: 2rem;
  text-align: center;
}

.container .card .content p {
  color: hsl(0, 0%, 0%);
  transition: 0.5s;
}

.container .card .content a {
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  background-color: hsla(262, 83%, 58%);
  color: hsl(221, 39%, 11%);
  border-radius: 3rem;
  text-decoration: none;
  transition: 0.3s ease;
  outline: none;
  margin-top: 2rem;
  font-weight: bolder;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.container .card:hover {
  color: white;
  margin-top: -3rem;
  box-shadow: 0.4rem 2.5rem 3rem hsl(262, 83%, 58%);
  border-color: hsl(262, 83%, 58%);

  border: 1px solid rgba(255, 255, 255, 0.2);
  background: hsl(221, 39%, 11%, 0.85);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.container .card:hover img {
  filter: invert(1);
}

.container .card:hover .content p {
  color: hsl(220, 14%, 96%);
}

.container .card:hover .content a {
  color: white;
  background-color: hsl(263, 67%, 35%);
  filter: brightness(1.2);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

section {
  padding-block: 4rem;
  text-align: left;
}

section header h4 {
  color: var(--headline);
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
  font-weight: 700;

  font-weight: 700;
  font-size: 24px;
}

section#contact header h4 {
  font-size: 2rem;
}

section header p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

section .content p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 150%;
  color: var(--paragraph);
}

.button {
  background: var(--brand-light);

  border-radius: 4rem;

  margin-bottom: 3rem;
  margin-top: 4.8rem;

  padding: 1.1rem 3.2rem;
  width: fit-content;

  text-transform: uppercase;

  color: var(--brand-dark);
  font-size: 1.4rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  text-decoration: none;

  transition: background 400ms ease;
}

.button:hover {
  background-color: var(--brand-dark);
  color: white;
}

.button:hover path {
  stroke: white;
}

.containsl {
  justify-content: center;
  display: flex;
  margin-top: 4rem;
}

.containsl .icones {
  margin: 1rem;
}

.containsl .icones svg {
  fill: var(--bg-light);
  transition: 400ms ease;
}

.containsl .icones .svg a:hover path {
  stroke: white;
}

.containsl .icones svg:hover {
  fill: var(--brand-dark);
}

nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background: hsla(221, 39%, 11%, 0.85);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  box-shadow: 0.2rem 0.8rem 2.5rem hsl(210, 9%, 31%);
}

nav.scroll .logo path {
  fill: white;
}

nav.scroll button path {
  stroke: white;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .menu,
nav .close-menu {
  position: fixed;
}

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(100%);
}

body.menu-expanded .menu {
  top: 0;
  left: 0;
  background: var(--primary-color);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  transition: transform 400ms;
  transform: translateY(0);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.2rem;

  margin-top: 5rem;

  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2rem;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

.menu .button {
  background: var(--brand-light);
  border-radius: 1.6rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.8rem;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--brand-dark);

  display: inline-block;
  padding: 16px 32px;

  margin-top: 5rem;
  margin-bottom: 2rem;
}

.menu .button:hover {
  background-color: var(--brand-dark);
  color: white;
  filter: brightness(1.2);
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: white;
}

body.menu-expanded button path {
  stroke: white;
}

#home {
  padding-block: 0;
  padding-top: calc(4.2rem + var(--nav-height));
}

#home .button {
  margin-inline: auto;
}

#home img {
  width: 43rem;
  display: block;
  margin-inline: auto;
}

#home h3 {
  text-align: left;
  color: white;
  font-weight: 100;
}

#home::before {
  content: '';
  width: 100%;
  height: calc(82% + var(--nav-height));
  background-color: var(--primary-color);

  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

#about {
  text-align: left;
  background-color: hsl(220, 14%, 96%);
}

#about .col-b {
  text-align: center;
  margin-top: 4.2rem;
}

#about .content {
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-weight: 500;
  font-size: 21px;
  line-height: 36px;
}

#contact {
  text-align: left;
  width: 100%;
  background-color: hsl(220, 14%, 96%);
}

#contact .stats .stat + .stat {
  border-top: 2px solid hsla(0, 0%, 77%, 1);
}

#contact h4 {
  margin-bottom: 4rem;
}

#contact .stats {
  margin-top: 6rem;
}

#contact .stats .stat {
  margin-bottom: 1rem;
}

#contact .stats p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#contact .stats h5 {
  color: var(--brand-beige);
  font-size: 16px;
  margin-bottom: 0rem;
}

#contact .stats h3 {
  margin-top: 1rem;
}

#contact .Back {
  display: none;
}

footer {
  background: hsla(221, 39%, 11%, 1);

  padding-bottom: 1rem;
  padding-top: -1rem;
  text-align: left;
  color: white;
}

footer h4 {
  font-weight: 50;
  font-size: 16px;
  line-height: 2.1rem;
}

#backToTopButton {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  transition: 500ms;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

#home .Onda {
  display: none;
}

img.Ondaclara {
  display: none;
  z-index: 10;
}

/*====== RESPONSIVE========*/
@media (min-width: 1024px) {
  body {
    overflow: auto;
  }

  .wrapper {
    width: min(125rem, 100%);
    display: grid;
  }

  .col-a {
    grid-area: A;
  }

  .col-b {
    grid-area: B;
  }

  section {
    padding-block: 8rem;
  }

  nav#navigation .wrapper * {
    margin: 0;

    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    transform: initial;
    font-size: initial;
    filter: initial;
  }

  nav#navigation .close-menu,
  nav#navigation .open-menu,
  nav#navigation .containsl {
    display: none;
  }

  nav#navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }

  nav#navigation .menu ul li a {
    color: white;
    opacity: 0.8;
  }

  nav#navigation .menu ul:nth-child(1) {
    display: flex;
    gap: 3.4rem;
  }

  nav#navigation .menu a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;

    border: 1px solid var(--primary-color);
    border-radius: 4rem;
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  nav#navigation.scroll .menu ul li a {
    color: var(--brand-light);
    opacity: 0.7;
    filter: brightness(1.9);
  }

  nav#navigation .menu li a.active,
  nav#navigation .menu li a:hover {
    opacity: 1;
    font-weight: 700;
    filter: brightness(1.9);
  }

  nav#navigation .menu li a::after {
    content: '';
    width: 0%;
    height: 2px;

    position: relative;
    bottom: -26px;
    left: -0.6rem;

    display: block;

    transition: width 0.4s;
    filter: brightness(1.9);
  }

  nav#navigation.scroll .menu li a::after {
    background-color: white;
  }
  nav#navigation .menu li a.active::after,
  nav#navigation .menu li a:hover::after {
    padding-inline: 0.8rem;
    width: 100%;
    filter: brightness(1.9);
  }
  nav#navigation.scroll .menu li a.active,
  nav#navigation.scroll .menu li a:hover {
    opacity: 1;
    filter: brightness(1.9);
  }

  #home::before {
    background-color: white;
    height: calc(96% - var(--nav-height));
  }

  #home {
    padding-top: var(--nav-height);
  }

  #home h3 {
    color: black;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 14rem;
  }

  #home .wrapper {
    margin-bottom: 12rem;
    grid-template-columns: 60rem 1fr;
    grid-template-areas: 'A B';
  }

  #home img {
    position: absolute;
  }

  #home .Onda {
    width: 89.5rem;
    height: 60rem;
    margin-top: -7.2rem;
    margin-left: -22rem;
    display: block;
  }

  #home .Office {
    width: 52rem;
    height: 30rem;
    margin-top: 9rem;
    margin-left: 0;
  }

  #about img {
    position: absolute;
  }

  #about .Ondaclara {
    width: 135rem;
    height: 83rem;
    margin-top: -10rem;
    margin-left: -7.4rem;
    display: block;
  }

  #contact img {
    position: absolute;
  }

  #contact .Back {
    width: 135rem;
    height: 61.3rem;
    margin-top: 12.9rem;
    margin-left: -7.4rem;
    display: block;
    z-index: 10;
  }

  #home .button {
    margin: 0;
    margin-top: 4.6rem;
    background-color: white;
    border: none;
    background-color: var(--primary-color);
    color: white;
    background: rgb(96, 9, 240);
    background: linear-gradient(
      0deg,
      rgba(96, 9, 240, 1) 0%,
      rgba(129, 5, 240, 1) 100%
    );
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: 200ms;
  }

  #home .col-a .button:hover {
    background-color: var(--brand-dark);
    filter: brightness(1.2);
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
      -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
      inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
  }

  #about {
    background-color: white;
  }

  #about .wrapper {
    grid-template-columns: 1fr 50rem;
    grid-template-areas: 'A B';
    gap: 6.7rem;
  }

  #about .col-a {
    align-self: center;
    z-index: 20;
  }

  #about .col-b img {
    margin-left: -10rem;
  }

  #about img {
    margin-right: 10rem;
  }

  #contact .wrapper {
    grid-template-columns: 1fr 50rem;
    grid-template-areas: 'A B';
  }

  #contact .col-a {
    z-index: 20;
  }

  section#contact {
    background-color: white;
  }

  .containsl {
    justify-content: left;
    display: flex;
  }

  footer {
    padding-bottom: 1rem;
    text-align: left;
    display: block;
  }

  footer .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
  }

  footer .col-a {
    align-self: center;
  }

  footer .col-b {
    align-self: center;
    justify-self: flex-end;
  }
}
